SOAP/webservice/src/conf/xml-resources/web-service-references/produk/wsdl/localhost_8080/webservice/produk.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://marketplace/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://marketplace/" name="produk">
<types>
<xsd:schema>
<xsd:import namespace="http://marketplace/" schemaLocation="http://localhost:8080/webservice/produk?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/webservice/produk?xsd=2"/>
</xsd:schema>
</types>
<message name="init">
<part name="parameters" element="tns:init"/>
</message>
<message name="initResponse">
<part name="parameters" element="tns:initResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="product_of">
<part name="parameters" element="tns:product_of"/>
</message>
<message name="product_ofResponse">
<part name="parameters" element="tns:product_ofResponse"/>
</message>
<portType name="produk">
<operation name="init">
<input wsam:Action="http://marketplace/produk/initRequest" message="tns:init"/>
<output wsam:Action="http://marketplace/produk/initResponse" message="tns:initResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://marketplace/produk/helloRequest" message="tns:hello"/>
<output wsam:Action="http://marketplace/produk/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="product_of">
<input wsam:Action="http://marketplace/produk/product_ofRequest" message="tns:product_of"/>
<output wsam:Action="http://marketplace/produk/product_ofResponse" message="tns:product_ofResponse"/>
</operation>
</portType>
<binding name="produkPortBinding" type="tns:produk">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="init">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="product_of">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="produk">
<port name="produkPort" binding="tns:produkPortBinding">
<soap:address location="http://localhost:8080/webservice/produk"/>
</port>
</service>
</definitions>